[submodule "external/msm-lite"]
	path = external/msm-lite
	url = https://github.com/boost-experimental/msm-lite
[submodule "external/hana"]
	path = external/hana
	url = https://github.com/boostorg/hana
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio/
